<f:layout name="Ajax" />
<f:section name="content">
<table width="100%" class="ajax_table">
	<thead>
		<tr>
			<td>Name: </td>
			<td>Benutzername: </td>
			<td>Telefon: </td>
			<td>E-Mail: </td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{customerFrontendUser.name} {customerFrontendUser.firstName} {customerFrontendUser.lastName}</td>
			<td>{customerFrontendUser.username}</td>
			<td>{customerFrontendUser.telephone}</td>
			<td>{customerFrontendUser.email}</td>
		</tr>	
	</tbody>
</table>
</f:section>